<html>
    <head>
        <title>Django Girls diary</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Diary</a></h1>
        </div>

        <div>
            <p>published: <a href="timezone"></p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. こんにちは！ よろしくお願いします！ </p>
        </div>

        <div>
            <p>公開日: <a href="timezone"></p>
            <h2><a href="">2番目の投稿</a></h2>
            <p> こんにちは！ よろしくお願いします！ </p>
        </div>
    </body>
</html>
